<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Jarvis listens to the microphone for the wake word and voice commands.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Jarvis uses AppleScript to run some voice commands.</string>
</dict>
</plist>
